<section class="about-me" id="about-me">
  <div class="container about-me-container">
    <h2 class="visually-hidden">About me</h2>
    <div class="about-me-header">
      <div class="about-me-text">
        <h3 class="about-me-title">
          I work with people all over the world to create impressive and
          <span class="title-part-funct">functional</span>
          <span class="title-part-web">websites</span> that reflect each
          client's unique personality.
        </h3>
      </div>
      <div class="about-me-image">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/about-me/portfolio-desktop.jpg   1x,
              ./img/about-me/portfolio-desktop-2.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/about-me/portfolio-tablet.jpg   1x,
              ./img/about-me/portfolio-tablet-2.jpg 2x
            "
          />
          <source
            media="(max-width: 767.98px)"
            srcset="
              ./img/about-me/portfolio-mob.jpg   1x,
              ./img/about-me/portfolio-mob-2.jpg 2x
            "
          />
          <img
            class="about-me-img"
            src="./img/about-me/portfolio-mob.jpg"
            alt="Description of your image"
            width="343"
            height="500"
          />
        </picture>
      </div>
    </div>

    <ul class="information">
      <li class="information-item">
        <div class="information-about-blok">
          <button class="about-button" type="button">
            <span class="information-about-title">About me</span>
            <svg class="about-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-icon-down"></use>
            </svg>
          </button>
        </div>
        <div class="information-content inform-block visually-hidden">
          <p class="information-content-text about-margin">
            I am Lloyd Jefferson, a talented programmer with extensive expertise
            in software development. I have an understanding of different
            programming languages and technologies, always ready to improve my
            skills. I always follow the latest trends and look for
            unconventional, creative solutions to problems. I have a high level
            of analytical skills and am able to effectively solve even the most
            difficult tasks encountered on the way.
          </p>
          <p class="information-content-text">
            Able to work both independently and in a team. I can effectively
            cooperate with colleagues, exchanging ideas and finding optimal
            solutions. Professional maturity allows you to calmly cope with
            challenges and stressful situations, while maintaining a high
            quality of work. I am always looking for opportunities for
            self-improvement. I actively study new technologies and practices to
            stay abreast of the latest innovations. I have a strong
            understanding of various programming languages, frameworks and
            architectural concepts that allow me to create efficient and
            scalable software.
          </p>
        </div>
      </li>

      <li class="information-item">
        <div class="information-about-blok">
          <button class="about-button" type="button">
            <span class="information-about-title">Role</span>
            <svg class="about-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-icon-down"></use>
            </svg>
          </button>
        </div>

        <div class="information-content">
          <ul class="information-content-list inform-block visually-hidden">
            <li class="information-content-text">Frontend development</li>
            <li class="information-content-text">HeadlessCMS,Wordpress</li>
            <li class="information-content-text">Blender(enjoy)</li>
          </ul>
        </div>
      </li>

      <li class="information-item">
        <div class="information-about-blok">
          <button class="about-button" type="button">
            <span class="information-about-title">Education</span>
            <svg class="about-icon" width="20" height="20">
              <use href="./img/icons.svg#icon-icon-down"></use>
            </svg>
          </button>
        </div>

        <div class="information-content">
          <ul class="information-content-list inform-block visually-hidden">
            <li class="information-content-text">
              2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
              York
            </li>
            <li class="information-content-text">
              2019 - 2020 / Advanced Web Development Certificate, GoIT IT
              School, New York
            </li>
            <li class="information-content-text">
              2020 - 2022 / Advanced Blender Animation Techniques, Udemy
            </li>
          </ul>
        </div>
      </li>
    </ul>

    <div class="skills">
      <div class="skills-slider swiper">
        <ul class="skills-list swiper-wrapper">
          <li class="skill-item swiper-slide">HTML/CSS</li>
          <li class="skill-item swiper-slide">JavaScript</li>
          <li class="skill-item swiper-slide">React</li>
          <li class="skill-item swiper-slide">Node. js</li>
          <li class="skill-item swiper-slide">React Native</li>
          <li class="skill-item swiper-slide">Soft skills</li>
          <li class="skill-item swiper-slide">Teamwork</li>
        </ul>
      </div>
      <button class="skills-button" type="button">
        <svg class="skills-icon" width="40" height="40">
          <use href="./img/icons.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
