<section class="about-me">
  <div class="container">
    <div class="slogan"></div>
        <div class="slogan-container">
            <p class="slogan-title">
                I work with people all over the world to create impressive and
                functional websites that reflect each client's unique personality.
            </p>
        </div>
        <div class="slogan-image">
            <img src="" alt="Description of your image" />
        </div>
    </div>    
    <div class="information">
      <div class="about">
        <div class="blok">
          <h5>About me</h5>
        </div>
        <p>
          I am Lloyd Jefferson, a talented programmer with extensive expertise
          in software development. I have an understanding of different
          programming languages and technologies, always ready to improve my
          skills. I always follow the latest trends and look for unconventional,
          creative solutions to problems. I have a high level of analytical
          skills and am able to effectively solve even the most difficult tasks
          encountered on the way.
        </p>
        <p>
          Able to work both independently and in a team. I can effectively
          cooperate with colleagues, exchanging ideas and finding optimal
          solutions. Professional maturity allows you to calmly cope with
          challenges and stressful situations, while maintaining a high quality
          of work. I am always looking for opportunities for self-improvement. I
          actively study new technologies and practices to stay abreast of the
          latest innovations. I have a strong understanding of various
          programming languages, frameworks and architectural concepts that
          allow me to create efficient and scalable software.
        </p>
      </div>
      <div class="role">
        <div class="blok">
          <h5>ROLE</h5>
        </div>
        <ul>
          <li>Frontend development</li>
          <li>HeadlessCMS,Wordpress</li>
          <li>Blender(enjoy)</li>
        </ul>
      </div>
      <div class="education">
        <div class="blok">
          <h5>EDUCATION</h5>
        </div>
        <ul>
          <li>
            2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
          </li>
          <li>
            2019 - 2020 / Advanced Web Development Certificate, GoIT IT School,
            New York
          </li>
          <li>2020 - 2022 / Advanced Blender Animation Techniques, Udemy</li>
        </ul>
      </div>
    </div>
    <div class="techskills">
      <ul class="techskills-list">
        <li>
          <p class="">HTML/CSS</p>
        </li>
        <li>
          <p class="">JavaScript</p>
        </li>
        <li>
          <p class="">React</p>
        </li>
        <li>
          <p class="">Node. js</p>
        </li>
        <li>
          <p class="">React Native</p>
        </li>
        <li>
          <p class="">HTML/CSS</p>
        </li>
        <li>
          <p class="">Soft skills</p>
        </li>
      </ul>
    </div>
  </div>
</section>
