<section class="hero">
    <div class="container">
            <h1 class="hero-title">
                HELLO.<br />
                I’M FULLSTACK DEVELOPER<br />
                LLOYD JEFFERSON.
            </h1>
        <div class="hero-footer">
            <ul class="hero-socials">
                <li><a href="https://www.instagram.com/goitclub/" target="_blank">IG</a></li>
                <li><a href="https://www.youtube.com/c/GoIT" target="_blank">FB</a></li>
                <li><a href="https://www.facebook.com/goITclub/" target="_blank">YT</a></li>
                <li><a href="https://github.com/YOUR_TEAM_PROJECT" target="_blank">GH</a></li>
            </ul>
            <a href="mailto:lloydjefferson@gmail.com" class="hero-email">lloydjefferson@gmail.com</a>
        </div>
    </div>
</section>