<section class="hero">
    <div class="container">


        <div class="hero__content">
            <h1 class="hero__title">
                HELLO.<br />
                I’M FULLSTACK DEVELOPER<br />
                LLOYD JEFFERSON.
            </h1>
        </div>

        <div class="hero__footer">
            <ul class="hero__socials">
                <li><a href="https://www.instagram.com/goitclub/" target="_blank">IG</a></li>
                <li><a href="https://www.youtube.com/c/GoIT" target="_blank">FB</a></li>
                <li><a href="https://www.facebook.com/goITclub/" target="_blank">YT</a></li>
                <li><a href="https://github.com/YOUR_TEAM_PROJECT" target="_blank">GH</a></li>
            </ul>
            <a href="mailto:lloydjefferson@gmail.com" class="hero__email">lloydjefferson@gmail.com</a>
        </div>
    </div>
</section>