<section class="hero">
    <div class="container">
            <h1 class="hero-title">
                Hello.<br />
                I’m fullstack developer<br />
                Lloyd Jefferson.
            </h1>

    <div class="color-menu-container">
<button class="color-menu-btn hide-on-mobile" type="button"></button>

    <div class="color-picker">
        <div class="color-option" data-color="red" style="background-color: #ed3b44;"></div>
        <div class="color-option" data-color="green" style="background-color: #c6e327;"></div>
        <div class="color-option" data-color="blue" style="background-color: #0041e8;"></div>
        <div class="color-option" data-color="orange" style="background-color: #e6533c;"></div>
        <div class="color-option" data-color="khaki" style="background-color: #2b4441;"></div>
        <div class="color-option" data-color="yellow" style="background-color: #ff7f08;"></div>
    </div>
    </div>
        <div class="hero-footer">
            <ul class="hero-socials">
                <li><a href="https://www.instagram.com/goitclub/" target="_blank">IG</a></li>
                <li><a href="https://www.youtube.com/c/GoIT" target="_blank">FB</a></li>
                <li><a href="https://www.facebook.com/goITclub/" target="_blank">YT</a></li>
                <li><a href="https://github.com/YOUR_TEAM_PROJECT" target="_blank">GH</a></li>
            </ul>
            <a href="mailto:lloydjefferson@gmail.com" class="hero-email">lloydjefferson@gmail.com</a>

        </div>
    </div>
</section>