<section class="projects-section" id="projects">
  <div class="container swiper-container">
    <h2 class="projects-title">Projects</h2>
    <ul class="swiper-wrapper">
      <li class="project-content swiper-slide">
        <div class="projects-content-block">
          <div class="projects-left">
            <ul class="projects-hashtags-list">
              <li class="projects-hashtags-item">#react</li>
              <li class="projects-hashtags-item">#js</li>
              <li class="projects-hashtags-item">#node js</li>
              <li class="projects-hashtags-item">#git</li>
            </ul>
            <h3 class="projects-subtitle">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
              class="projects-button"
              href="https://github.com/Mariia-Ann/JSense"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="projects-right">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/projects/read-journey-tab.jpg    1x,
                  ./img/projects/read-journey-tab@2x.jpg 2x
                "
              />

              <source
                media="(max-width: 767.98px)"
                srcset="
                  ./img/projects/read-journey-mob.jpg    1x,
                  ./img/projects/read-journey-mob@2x.jpg 2x
                "
              />
              <img
                class="project-img"
                src="./img/projects/read-journey-mob.jpg"
                alt="Website Read Journey"
                width="311"
                height="195"
              />
            </picture>
          </div>
        </div>
      </li>
      <li class="project-content swiper-slide">
        <div class="projects-content-block">
          <div class="projects-left">
            <ul class="projects-hashtags-list">
              <li class="projects-hashtags-item">#react</li>
              <li class="projects-hashtags-item">#js</li>
              <li class="projects-hashtags-item">#node js</li>
              <li class="projects-hashtags-item">#git</li>
            </ul>
            <h3 class="projects-subtitle">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <div class="projects-button">
              <a href="https://github.com/Mariia-Ann/JSense" target="_blank"
                >See project</a
              >
            </div>
          </div>
          <div class="projects-right">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/projects/vocab-builder-tab.jpg    1x,
                  ./img/projects/vocab-builder-tab@2x.jpg 2x
                "
              />
              <source
                media="(max-width: 767.98px)"
                srcset="
                  ./img/projects/vocab-builder-mob.jpg    1x,
                  ./img/projects/vocab-builder-mob@2x.jpg 2x
                "
              />
              <img
                class="project-img"
                src="./img/projects/vocab-builder-mob.jpg"
                alt="Website Vocab Builder"
                width="311"
                height="195"
              />
            </picture>
          </div>
        </div>
      </li>
      <li class="project-content swiper-slide">
        <div class="projects-content-block">
          <div class="projects-left">
            <ul class="projects-hashtags-list">
              <li class="projects-hashtags-item">#react</li>
              <li class="projects-hashtags-item">#js</li>
              <li class="projects-hashtags-item">#node js</li>
              <li class="projects-hashtags-item">#git</li>
            </ul>
            <h3 class="projects-subtitle">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <div class="projects-button">
              <a href="https://github.com/Mariia-Ann/JSense" target="_blank"
                >See project</a
              >
            </div>
          </div>
          <div class="projects-right">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/projects/petlove-tab.jpg    1x,
                  ./img/projects/petlove-tab@2x.jpg 2x
                "
              />
              <source
                media="(max-width: 767.98px)"
                srcset="
                  ./img/projects/petlove-tab.jpg    1x,
                  ./img/projects/petlove-tab@2x.jpg 2x
                "
              />
              <img
                class="project-img"
                src="./img/projects/petlove-tab.jpg"
                alt="Website Pet Love"
                width="311"
                height="195"
              />
            </picture>
          </div>
        </div>
      </li>
    </ul>

    <div class="projects-arrows-block">
      <button class="project-arrow-left" type="button">
        <svg class="projects-icon" height="24" width="25">
          <use href="./img/icons.svg#icon-arrow-narrow-left"></use>
        </svg>
      </button>
      <button class="project-arrow-right" type="button">
        <svg class="projects-icon" height="24" width="25">
          <use href="./img/icons.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
