<section id="together" class="together container">
    <div class="together-text">
        <img src="../img/vite-logo.png" width="70px" height="70px" alt="boy">
        <h1 class="together title">Let’s <span>work</span> together</h1>
    </div>

    <form class="contact-form">
        <div class="email-box">
            <label for="email" class="form-email-lable"></label>
            <input class="form-input-email" type="email" id="email" name="email" placeholder="clients@gmail.com"
                pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" required>
        </div>

        <div class="massage-box">
            <label class="form-lable-massage" for="message"></label>
            <textarea class="comment-field" id="message" name="message" placeholder="comments" required></textarea>
        </div>

        <button class="form-button-submit" type="submit">SEND</button>
    </form>
    </div>
    <div class="together-contacts">
        <ul class="together-contacts-list">
            <li class="together-contacts-item">
                <a class="together-contacts-link" href="malito:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
            </li>
            <li class="together-contacts-item">
                <a class="together-contacts-link" href="tel:+380 11 1111 11 11">380 11 1111 11 11</a>
            </li>
        </ul>
    </div>
    <div id="backdrop" class="backdrop is-hidden">
        <div id="modal" class="modal-together">
            <div class="modal-content">
                <svg class="close-button" width="24" height="24">
                    <use href=""></use>
                </svg>
                <div class="modal-text-content">
                    <h3 class="modal-title">
                        Thank you for your interest in cooperation!
                    </h3>
                    <p class="modal-text">
                        The manager will contact you shortly to discuss further details and opportunities for
                        cooperation. Please stay in touch.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>