@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1440px) {
}

.about-me {
  padding-top: 64px;
  padding-bottom: 32px;
}
.about-me-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.about-me-header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about-me-text {
  min-height: 500px;
  border-radius: 24px;
  background-color: #242527;
  padding: 32px;
}
.about-me-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--main-text);
}

.title-part-funct {
  color: #ed3b44;
}

.title-part-web {
  color: rgba(250, 250, 250, 0.4);
}

.about-me-image {
  border-radius: 24px;
  overflow: hidden;
  flex: 1;
}

.about-me-img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .about-me {
    padding-bottom: 48px;
  }

  .about-me-container {
    gap: 64px;
  }

  .about-me-text {
    height: 700px;
    padding: 64px;
  }

  .about-me-title {
    font-size: 38px;
    line-height: 1.05;
  }
}

@media screen and (min-width: 1440px) {
  .about-me {
    padding-top: 96px;
    padding-bottom: 82px;
  }
  .about-me-container {
    gap: 96px;
  }

  .about-me-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .about-me-text {
    width: 680px;
    height: 700px;
    padding: 64px;
  }
  .about-me-title {
    font-size: 38px;
  }

  .about-me-image {
  }

  .about-me-img {
    width: 680px;
    height: 700px;
  }
}

/* ABOUT */

/* ABOUT-information */
.information {
}

.information-item {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-border);
}
.information-item:not(:first-child) {
  padding-top: 20px;
}

.information-about-blok {
  display: flex;
  margin-bottom: 12px;
}
.information-about-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--color-text-title);
}

.about-button {
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: space-between;
}

.about-icon {
  border: 1px solid var(--color-border);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 10px;
  stroke: var(--color-text);
}

.information-content {
}

.information-content-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.information-content-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--color-text);
}

.about-margin {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
}

@media only screen and (min-width: 1440px) {
  .information-content {
    width: 612px;
    margin-left: auto;
  }
}

/* SKILLS */

.skills {
  display: flex;
  overflow-x: hidden;
  justify-content: space-between;
  align-items: center;
}

.skills-list {
  display: flex;
}

.skill-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 1px solid rgba(250, 250, 250, 0.2);
  background-color: 0;
  color: var(--main-text);
  font-weight: 500;
  line-height: 150%;
  font-size: 16px;
  letter-spacing: -0.02em;
}

.skill-item.red {
  background-color: var(--color-button);
}

.skills-button {
  background-color: transparent;
  display: flex;
}

.skills-icon {
  fill: transparent;
  stroke: var(--color-arrow);
  border: 2px solid var(--arrow);
}

@media only screen and (min-width: 768px) {
  .skill-item {
    width: 200px;
    height: 200px;
    font-size: 20px;
  }
}
@media only screen and (min-width: 1440px) {
}
