/* Styles for mobil devices */
.benefits-section {
  padding-top: 32px;
  padding-bottom: 32px;
}
.benefits-container {
display: flex;
flex-direction: column;
align-items: center;
gap: 32px;
}

.benefits-chapter {
color: var(--color-text-title);
font-size: 16px;
font-weight: 600;
letter-spacing: -0.02em;
text-transform: uppercase;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  align-items: flex-startce;
  gap: 16px;
  }
.benefits-item {
display: flex;
padding: 24px;
flex-direction: column;
border-radius: 20px;
background:  var(--color-cards);
}
.benefits-icon {
display: flex;
width: 48px;
height: 48px;
padding: 12px;
margin-bottom: 64px;
justify-content: center;
align-items: center;
border-radius: 10px;
background:  var(--color-button);
stroke:var(--color-text);
fill: transparent;
}
.benefits-title {
margin-bottom: 8px;
font-size: 20px;
font-weight: 600;
letter-spacing: -0.02em;
}
.benefits-text {
color: var(--color-text-tr);
letter-spacing: -0.02em;
}
.benefits-btn {
display: inline-block;
padding: 18px 36px;
margin-top: 32px;
align-items: center;
border-radius: 60px;
border: 1px solid rgba(250, 250, 250, 0.20);
letter-spacing: -0.02em;
}.benefits-btn:hover {
  border: 1px solid var(--color-text);
}


/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .benefits-section {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .benefits-list {
   flex-wrap: wrap;
   flex-direction: row;
  }
  .benefits-item {
    width: 344px;
  }
  .benefits-btn {
    margin-top: 64px;
  }
  .btn-scroll-top {
    background-color: transparent;
    padding: 0;
    line-height: 0;
    position: fixed;
    bottom: 35px;
    right: 35px;
    z-index: 20;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 50%;
    transition: fill 0.2s cubic-bezier(0.34, 0.78, 0.68, 0.41),
        border 0.2s cubic-bezier(0.34, 0.78, 0.68, 0.41);
}
.btn-scroll-top-icon {
    fill: rgba(252, 249, 249, 0.4);
    transition: fill 0.2s cubic-bezier(0.34, 0.78, 0.68, 0.41);
}
.btn-scroll-top:hover,
.btn-scroll-top:focus {
    fill: var(--color-button);
    border: 1px solid var(--color-button);
}
.is-btnshow {
    opacity: 1;
    transition: opacity 0.2s cubic-bezier(0.34, 0.78, 0.68, 0.41);
}
.is-btnshow-hide {
    opacity: 0;
}
}



  /* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .benefits-section {
    padding-top: 82px;
    padding-bottom: 82px;
  }
  .benefits-container {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0;
    }
  .benefits-left {
    width: 50%;
    } 
    .benefits-right {
      width: 50%;
      }   
  .benefits-list {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    }
    .benefits-item {
      width: 332px;
    }
    }