.covers {
    position: relative;
    background: url('../img/covers/elements_vectors-min.png') repeat center center;
    background-size: contain;
    padding: 60px 5vw;
    overflow: hidden;
}

.content {
    position: relative;
    overflow: hidden;
}

.marquee {
    display: flex;
    gap: 32px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: "Pridi", sans-serif;
    font-weight: 600;
    font-size: 34px;
    text-transform: uppercase;
    animation: marqueeLine 15s linear infinite;
    white-space: nowrap;
    will-change: transform;
}

.marquee__item {
    flex: 0 0 auto;
    width: 544px;
    height: 314px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.marquee__line {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@keyframes marqueeLine {
    0% {
        transform: translateX(calc(100vw + 100%));
    }

    100% {
        transform: translateX(-100%);
    }
}

.marquee__inner {
    min-width: 100vw;
    height: 40vh;
    display: flex;
    flex-wrap: nowrap;
    transform: rotate(17deg);
    align-items: center;
    overflow: visible;
}

/* Mobile */

@media (max-width: 375px) {
    .covers {
        padding: 40px 5vw;
    }

    .marquee {
        font-size: 28px;
        gap: 16px;
    }

    .marquee__item {
        width: 544px;
        height: 314px;
    }
}

/* Tablet */

@media (min-width: 768px) and (max-width: 1440px) {
    .covers {
        padding: 50px 5vw;
    }

    .marquee {
        font-size: 30px;
        gap: 24px;
    }

    .marquee__item {
        width: 544px;
        height: 314px;
    }
}

/* Desktop */

@media (min-width: 1440px) {
    .covers {
        padding: 60px 5vw;
    }

    .marquee {
        font-size: 34px;
        gap: 32px;
    }

    .marquee__item {
        width: 544px;
        height: 314px;
    }
}
