.covers {
    position: relative;
    padding: 32px 0px;
    overflow: hidden;
}

.content {
    height: 508px;
    position: relative;
    overflow: hidden;
    background: url('../img/covers/elements_vectors-min.png') repeat center center;
    background-size: contain;
}

.covers-container {
    padding-left: 0;
    padding-right: 0;
}

.marquee {
    display: flex;
    gap: 32px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 34px;
    text-transform: uppercase;
    animation: marquee-line 30s linear infinite;
    white-space: nowrap;
    will-change: transform;
}

.marquee-item {
    flex: 0 0 auto;
    width: 544px;
    height: 314px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.marquee-line {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@keyframes marquee-line {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.marquee-inner {
    min-width: 200vw;
    height: 200px;
    display: flex;
    flex-wrap: nowrap;
    transform: rotate(17deg);
    align-items: center;
    overflow: visible;
}

/* Mobile */

.marquee {
    font-size: 28px;
    gap: 16px;
}

.marquee-item {
    width: 282px;
    height: 162px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.marquee-line {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.marquee-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Tablet */

@media screen and (min-width: 768px) {
    .covers {
        padding: 96px 0px;
    }

    .content {
        height: 960px;
    }

    .marquee {
        font-size: 30px;
        gap: 24px;
    }

    .marquee-item {
        width: 544px;
        height: 314px;
    }

    .marquee-inner {
        height: 360px;
    }
}

/* Desktop */

@media screen and (min-width: 1440px) {
    .content {
        height: 960px;
    }

    .marquee {
        font-size: 34px;
        gap: 32px;
    }

    .marquee-item {
        width: 544px;
        height: 314px;
    }
}