.faq-section {
  padding-top: 32px;
  padding-bottom: 32px;
}
.faq-title {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.02em;
  color: var(--color-text-title);
  margin-bottom: 32px;
}
.faq-list {
  border-bottom: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;
  height: auto;
}

.faq-item {
  padding: 20px 0;
  border-top: 1px solid var(--color-border);
}

.faq-subtext {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: var(--color-text);
}

.faq-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: none;
  margin-bottom: 16px;
  cursor: pointer;
  text-align: left;
}
.faq-vector {
  display: flex;
  width: 40px;
  height: 40px;
  border: 1px solid var(--color-border);
  border-radius: 50%;
}
.faq-vector-icon {
  stroke: var(--color-text);
  transition: transform 0.3s ease-in-out;
  padding: 7px;
}

.faq-vector-icon.open {
  transform: rotate(180deg);
}

.faq-text {
  letter-spacing: -0.02em;
  color: var(--color-text-tr);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  flex-shrink: 0;
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .faq-section {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .faq-container {
    margin-bottom: 26px;
  }
  .faq-item {
    padding: 32px 0 16px 0;
    width: 100%;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .faq-section {
    padding-top: 82px;
    padding-bottom: 82px;
  }
  .faq-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Два стовпці */
    width: 100%;
  }

  .faq-item {
    padding: 32px 0;
    width: 100%;
  }

  /*зміна позицій */
  .faq-item:nth-child(1) {
    order: 1;
  }
  .faq-item:nth-child(3) {
    order: 5;
  }
  .faq-item:nth-child(2) {
    order: 3;
  }
  .faq-item:nth-child(4) {
    order: 2;
  }
  .faq-item:nth-child(6) {
    order: 6;
  }
  .faq-item:nth-child(5) {
    order: 4;
  }
  /* Першийй стовпець: прибираємо правий бордер, додаємо відступ ліворуч */
  .faq-item:nth-child(4),
  .faq-item:nth-child(5),
  .faq-item:nth-child(6):nth-child(even) {
    padding-left: 32px;
    border-right: none;
    border-left: 1px solid var(--color-border);
  }

  /*Другий стовпець: прибираємо правий бордер, додаємо відступ ліворуч */
  .faq-item:nth-child(1),
  .faq-item:nth-child(2),
  .faq-item:nth-child(3):nth-child(odd) {
    padding-right: 32px;
    border-left: none;
  }
}
