.header {
  padding-top: 32px;
  position: absolute;
  z-index: 20;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-img-box {
  display: flex;
  flex-direction: row;
  gap: 8px;
  min-width: 172px;
  animation-duration: 1s;
  animation-name: slide;
}

.header-image {
  width: 80px;
  height: 80px;
  border-radius: 19px;
  object-fit: cover;
}

.header-name-icon {
  width: 84px;
  height: 19px;
  fill: var(--color-text);
}

.header-menu-box {
  display: none;
}

.header-menu-link {
  display: flex;
  justify-content: center;
  background-color: transparent;
  line-height: 1.19;
  letter-spacing: -0.02em;
  text-decoration: underline;
  cursor: pointer;
  color: var(--color-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--color-button-active);
}

.header-drop-down {
  margin-top: 8px;
  overflow: hidden;
}

.header-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  animation-duration: 1s;
  animation-name: slide;
  letter-spacing: -0.02em;
}

.header-list-item-link {
  color: var(--color-text);
  line-height: 1.19;
  letter-spacing: -0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list-item-link:hover,
.header-list-item-link:focus {
  color: var(--color-button-active);
}

.header-order-btn {
  display: none;
}

.header-burger-btn-box {
  margin-left: auto;
}

.header-burger-btn {
  display: flex;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  animation-duration: 1s;
  animation-name: slidein;
}

.header-burger-icon {
  stroke: var(--color-text);
}

.header-burger-backdrop {
  position: relative;
  overflow: hidden;
}

.header-burger-menu {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  opacity: 0;
  background-color: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../img/header/bg-mobile@1x-min.jpg');

  @media (min-resolution: 2dppx) {
    background-image: url('../img/header/bg-mobile@2x-min.jpg');
    background-size: cover;
  }
}

.header-burger-menu.is-open-header {
  transform: translateX(0);
  opacity: 1;
}

.header-close-btn {
  position: absolute;
  top: 39px;
  right: 23px;
  width: 28px;
  height: 28px;
  background-color: transparent;
}

.header-close-icon {
  stroke: var(--color-text);
}

.header-burger-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}

.header-burger-list-item-link {
  color: var(--color-text);
  line-height: 1.19;
  letter-spacing: -0.02em;
  text-decoration: underline;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-burger-list-item-link:hover,
.header-burger-list-item-link:focus {
  color: var(--color-button-active);
}

.header-burger-order-btn-box {
  margin-bottom: 64px;
}

.header-burger-order-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 31px;
  border-radius: 60px;
  font-size: 14px;
  color: var(--color-text);
  background: var(--color-button);
  margin-left: auto;
  letter-spacing: -0.02em;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-burger-order-btn:hover,
.header-burger-order-btn:focus {
  background: var(--color-button-active);
}

@media only screen and (min-width: 768px) {
  .header-menu-box {
    display: flex;
    flex-direction: column;
    animation-duration: 1s;
    animation-name: slide;
  }
  .header-menu-link {
    padding: 10px;
    width: 67px;
    height: 39px;
  }
  .header-order-btn {
    display: flex;
    padding: 18px 24px;
    border-radius: 60px;
    color: var(--color-text);
    background-color: var(--color-button);
    margin-left: auto;
    letter-spacing: -0.02em;
    animation-duration: 1s;
    animation-name: slidein;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-burger-btn-box {
    display: none;
  }

  .header-order-btn:hover,
  .header-order-btn:focus {
    background-color: var(--color-button);
    transform: scale(1.05);
  }
}
