.reviews {
  padding-bottom: 64;
}

::before,
::after {
  box-sizing: border-box;
}

section {
  display: block;
  unicode-bidi: isolate;
}

.container {
  width: 100%;
  padding: 0px 16px;
  margin: 0px auto;
}

.reviews-header {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: left;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
}

.swiper-horizontal {
  touch-action: pan-y;
}

.not-found {
  text-align: center;
  font-size: 45px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
}

.reviews-list {
  margin-bottom: 32px;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(
    --swiper-wrapper-transition-timing-function,
    initial
  );
  box-sizing: content-box;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(
    --swiper-wrapper-transition-timing-function,
    initial
  );
  box-sizing: content-box;
}

.reviews-list {
  margin-bottom: 32px;
}

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  backface-visibility: hidden;
}

.reviews-item {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(250, 250, 250, 0.2);
  border-image: initial;
  padding: 32px 24px;
  border-radius: 20px;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
}

.img-reviews {
  margin-bottom: 32px;
  border-radius: 10px;
}

.reviews-head {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-bottom: 8px;
}

.reviews-text {
  height: 120px;
  overflow-y: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

.swiper .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

.btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  gap: 20px;
}

#left-btn,
#right-btn {
  display: block;
  width: 68px;
  height: 68px;
  color: transparent;
  position: relative;
  background-color: transparent;
  padding: 18px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(250, 250, 250, 0.5);
  border-image: initial;
  border-radius: 50%;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset, 10px);
  right: auto;
}

.swiper-button-prev,
.swiper-button-next {
  top: var(--swiper-navigation-top-offset, 50%);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
}

.swiper-button-prev svg,
.swiper-button-next svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform-origin: center;
}

svg:not(:root) {
  overflow-clip-margin: content-box;
  overflow: hidden;
}
